# /src/web_app/utils/.example.env

S_KEY=your_flask_secret_key
MODELS_FOLDER=folder_where_your_models_are_stored
UPLOAD_FOLDER=folder_where_apks_are_temporarily_uploaded
JSON_PATH=file_path_with_suspicious_permissions_json
M_PACKAGE_LOCATION=file_path_to_machine_learning_model_package_directory
